<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanxiu.gphone.faceshowadmin_android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".FSAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshowadmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshowadmin"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ClassManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkIn.activity.CheckInNotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkIn.activity.CreateNewCheckInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ui.activity.MainDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkIn.activity.CheckInDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notice.NoticeManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notice.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkIn.activity.QrCodeShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notice.NoticePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.ScheduleManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.PublishScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.UpdateScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resource.ResourceMangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resource.PublishResourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classCircle.activity.SendClassCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.PDFViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.AdressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.PersonalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.SignRecordActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yanxiu.gphone.faceshowadmin_android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.adressbook.activity.UserMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.AddStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.EditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.adressbook.activity.EditSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.activity.VoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.activity.QuestionnaireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.activity.SubmitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.activity.VoteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course.activity.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course.activity.CourseMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course.activity.CourseCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.activity.ReplyDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>